.cover__link {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 100;
}

.cover__link::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__link:hover::before {
  opacity: 0.8;
}
