.lead__caption {
  margin: 0;
  margin-top: 8px;
  text-align: left;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #fff;
  align-self: flex-start;
}

@media screen and (max-width:768px) {
  .lead__caption {
    margin-left: 16px;
  }
}
