.place {
  display: grid;
  grid-template-columns: 460fr 484fr;
  grid-template-rows: auto 1fr;
  column-gap: 40px;
  row-gap: 48px;
}


@media screen and (max-width:1024px) {
  .place {
    column-gap: 32px;
    grid-template-columns: 440fr 456fr;
  }
}

@media screen and (max-width:768px) {
  .place {
    column-gap: 28px;
    grid-template-columns: 340fr 352fr;
  }
}

@media screen and (max-width:550px) {
  .place {
    column-gap: 32px;
    grid-template-columns: 1fr;
  }
}
