.place__website {
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width:550px) {
  .place__website {
    row-gap: 12px;
    margin-left: calc((100vw - 320px) * (0 - 16) / (550 - 320) + 16px);
  }
}
