.section_type_header {
  padding-top: 28px;
}

@media screen and (max-width:768px) {
  .section {
    padding-top: calc((100vw - 320px) * (28 - 16) / (768 - 320) + 16px);
  }
}

@media screen and (max-width:320px) {
  .section {
    padding-top: 16px;
  }
}
