.intro__title {
  margin: 0;
  font-size: 54px;
  line-height: 1.07;
  color: #fff;
  font-weight: 900;
}

@media screen and (max-width:768px) {
  .intro__title {
    font-size: calc((100vw - 320px) * (54 - 32) / (768 - 320) + 32px);
    line-height: 1.09;
  }
}
